RGBPi-Extra/application/data/retroarch
RGBPi-Extra/application/data/retroarch_15khz
RGBPi-Extra/application/data/retroarch_31khz
RGBPi-Extra/application/data/new_cores/\!new_cores.dat
RGBPi-Extra/application/data/new_cores/mame2003_plus_libretro.so
RGBPi-Extra/application/data/retroarch
